.idea
app/tmp/cache/persistent/*
app/tmp/cache/*
app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
app/Test/*
app/webroot/data/*
app/data/passes/*
!empty
