@import url("http://fonts.googleapis.com/css?family=Lato:300,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700");
/* line 4, ../sass/flypass.scss */
.top-bar ul {
  margin-top: 20px;
}

/* line 7, ../sass/flypass.scss */
.top-bar ul li {
  margin-right: 20px;
  float: left;
}

/* line 11, ../sass/flypass.scss */
.top-bar ul li a {
  color: #000;
}

/* line 14, ../sass/flypass.scss */
.top-bar ul li a.active {
  color: red;
}

/* line 17, ../sass/flypass.scss */
.top-bar ul li a:hover {
  color: red;
}

/* line 21, ../sass/flypass.scss */
.top-bar-section .dropdown li a {
  font-weight: bold !important;
}

/* line 25, ../sass/flypass.scss */
#mainbody {
  background-color: white;
  padding-top: 20px;
}

/* line 30, ../sass/flypass.scss */
.name {
  padding: .5em;
}

/* line 34, ../sass/flypass.scss */
.app-body {
  padding: .5em 1em .5em 0;
  background: url("/img/bg_home.png") repeat-x;
  width: 1040px;
  margin: 0 auto;
}

/* line 41, ../sass/flypass.scss */
.widget {
  border: 1px solid #cccccc;
}

/* line 45, ../sass/flypass.scss */
.widget a {
  font-weight: bold;
}

/* line 49, ../sass/flypass.scss */
.rtborder {
  border-right: 1px solid #cccccc;
}

/* line 53, ../sass/flypass.scss */
.last-update {
  padding: 0;
  padding-top: .5em;
  margin: 0;
}

/* line 59, ../sass/flypass.scss */
.report-header {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1em;
}

/* line 64, ../sass/flypass.scss */
.tray {
  background-color: white;
  padding: .5em 0px;
  margin: 0px;
  color: white;
}

/* line 71, ../sass/flypass.scss */
.tray h3 {
  color: white;
  text-shadow: #333333 1px 1px 1px;
}

/* line 76, ../sass/flypass.scss */
.datepicker {
  padding-top: .5em;
}

/* line 80, ../sass/flypass.scss */
.reach {
  list-style-type: none;
}

/* line 84, ../sass/flypass.scss */
.card-picker {
  border-bottom: 1px solid #cccccc;
}

/* line 88, ../sass/flypass.scss */
.card-detail {
  padding: 1em;
  font-size: 110%;
}

/* line 93, ../sass/flypass.scss */
.card-detail strong {
  font-size: 1.2em;
}

/* line 97, ../sass/flypass.scss */
.amp-header b {
  color: #2ba6cb;
  font-size: 160%;
}

/* line 102, ../sass/flypass.scss */
.amp-header {
  padding-top: 34px;
  padding-bottom: 4px;
}

/* line 107, ../sass/flypass.scss */
.amp-label {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding-left: 1em;
}

/* line 114, ../sass/flypass.scss */
.amp-label:after {
  content: ": ";
}

/* line 118, ../sass/flypass.scss */
.switch-label {
  display: inline-block;
  padding-left: 1em;
}

/* line 123, ../sass/flypass.scss */
.lens-shim {
  line-height: 3em;
}

/* line 127, ../sass/flypass.scss */
.section .content {
  height: 280px;
}

/* line 131, ../sass/flypass.scss */
dl {
  margin-top: 1em;
}

/* line 135, ../sass/flypass.scss */
dt {
  float: left;
  font-weight: bold;
  line-height: 2em;
  color: #6f6f6f;
}

/* line 142, ../sass/flypass.scss */
dd {
  margin-left: 40px;
  text-align: right;
  line-height: 2em;
  margin-bottom: 0px !important;
  font-weight: bold;
}

/* line 150, ../sass/flypass.scss */
dd.positive {
  color: green;
}

/* line 154, ../sass/flypass.scss */
dd.negative {
  color: red;
}

/* line 158, ../sass/flypass.scss */
dd.positive:before {
  content: "(+";
}

/* line 161, ../sass/flypass.scss */
dd.negative:before {
  content: "(-";
}

/* line 165, ../sass/flypass.scss */
dd.positive:after {
  content: "↑)";
}

/* line 169, ../sass/flypass.scss */
dd.negative:after {
  content: "↓)";
}

/* line 174, ../sass/flypass.scss */
footer {
  color: #ced4d8;
  padding: 1em;
  font-size: 90%;
  width: 1040px;
  border-top: 1px solid #c0c0c0;
}

/* line 184, ../sass/flypass.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons_halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* line 197, ../sass/flypass.scss */
.icon-glass {
  background-position: 0 0;
}

/* line 201, ../sass/flypass.scss */
.icon-music {
  background-position: -24px 0;
}

/* line 205, ../sass/flypass.scss */
.icon-search {
  background-position: -48px 0;
}

/* line 209, ../sass/flypass.scss */
.icon-envelope {
  background-position: -72px 0;
}

/* line 213, ../sass/flypass.scss */
.icon-heart {
  background-position: -96px 0;
}

/* line 217, ../sass/flypass.scss */
.icon-star {
  background-position: -120px 0;
}

/* line 221, ../sass/flypass.scss */
.icon-star-empty {
  background-position: -144px 0;
}

/* line 225, ../sass/flypass.scss */
.icon-user {
  background-position: -168px 0;
}

/* line 229, ../sass/flypass.scss */
.icon-film {
  background-position: -192px 0;
}

/* line 233, ../sass/flypass.scss */
.icon-th-large {
  background-position: -216px 0;
}

/* line 237, ../sass/flypass.scss */
.icon-th {
  background-position: -240px 0;
}

/* line 241, ../sass/flypass.scss */
.icon-th-list {
  background-position: -264px 0;
}

/* line 245, ../sass/flypass.scss */
.icon-ok {
  background-position: -288px 0;
}

/* line 249, ../sass/flypass.scss */
.icon-remove {
  background-position: -312px 0;
}

/* line 253, ../sass/flypass.scss */
.icon-zoom-in {
  background-position: -336px 0;
}

/* line 257, ../sass/flypass.scss */
.icon-zoom-out {
  background-position: -360px 0;
}

/* line 261, ../sass/flypass.scss */
.icon-off {
  background-position: -384px 0;
}

/* line 265, ../sass/flypass.scss */
.icon-signal {
  background-position: -408px 0;
}

/* line 269, ../sass/flypass.scss */
.icon-cog {
  background-position: -432px 0;
}

/* line 273, ../sass/flypass.scss */
.icon-trash {
  background-position: -456px 0;
}

/* line 277, ../sass/flypass.scss */
.icon-home {
  background-position: 0 -24px;
}

/* line 281, ../sass/flypass.scss */
.icon-file {
  background-position: -24px -24px;
}

/* line 285, ../sass/flypass.scss */
.icon-time {
  background-position: -48px -24px;
}

/* line 289, ../sass/flypass.scss */
.icon-road {
  background-position: -72px -24px;
}

/* line 293, ../sass/flypass.scss */
.icon-download-alt {
  background-position: -96px -24px;
}

/* line 297, ../sass/flypass.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 301, ../sass/flypass.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 305, ../sass/flypass.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 309, ../sass/flypass.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 313, ../sass/flypass.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 317, ../sass/flypass.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 321, ../sass/flypass.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 325, ../sass/flypass.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 329, ../sass/flypass.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 333, ../sass/flypass.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 337, ../sass/flypass.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 341, ../sass/flypass.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 345, ../sass/flypass.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 349, ../sass/flypass.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 353, ../sass/flypass.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 357, ../sass/flypass.scss */
.icon-tag {
  background-position: 0 -48px;
}

/* line 361, ../sass/flypass.scss */
.icon-tags {
  background-position: -25px -48px;
}

/* line 365, ../sass/flypass.scss */
.icon-book {
  background-position: -48px -48px;
}

/* line 369, ../sass/flypass.scss */
.icon-bookmark {
  background-position: -72px -48px;
}

/* line 373, ../sass/flypass.scss */
.icon-print {
  background-position: -96px -48px;
}

/* line 377, ../sass/flypass.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 381, ../sass/flypass.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 385, ../sass/flypass.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 389, ../sass/flypass.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 393, ../sass/flypass.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 397, ../sass/flypass.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 401, ../sass/flypass.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 405, ../sass/flypass.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 409, ../sass/flypass.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 413, ../sass/flypass.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 417, ../sass/flypass.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 421, ../sass/flypass.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 425, ../sass/flypass.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 429, ../sass/flypass.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 433, ../sass/flypass.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 437, ../sass/flypass.scss */
.icon-pencil {
  background-position: 0 -72px;
}

/* line 441, ../sass/flypass.scss */
.icon-map-marker {
  background-position: -24px -72px;
}

/* line 445, ../sass/flypass.scss */
.icon-adjust {
  background-position: -48px -72px;
}

/* line 449, ../sass/flypass.scss */
.icon-tint {
  background-position: -72px -72px;
}

/* line 453, ../sass/flypass.scss */
.icon-edit {
  background-position: -96px -72px;
}

/* line 457, ../sass/flypass.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 461, ../sass/flypass.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 465, ../sass/flypass.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 469, ../sass/flypass.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 473, ../sass/flypass.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 477, ../sass/flypass.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 481, ../sass/flypass.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 485, ../sass/flypass.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 489, ../sass/flypass.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 493, ../sass/flypass.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 497, ../sass/flypass.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 501, ../sass/flypass.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 505, ../sass/flypass.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 509, ../sass/flypass.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 513, ../sass/flypass.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 517, ../sass/flypass.scss */
.icon-plus-sign {
  background-position: 0 -96px;
}

/* line 521, ../sass/flypass.scss */
.icon-minus-sign {
  background-position: -24px -96px;
}

/* line 525, ../sass/flypass.scss */
.icon-remove-sign {
  background-position: -48px -96px;
}

/* line 529, ../sass/flypass.scss */
.icon-ok-sign {
  background-position: -72px -96px;
}

/* line 533, ../sass/flypass.scss */
.icon-question-sign {
  background-position: -96px -96px;
}

/* line 537, ../sass/flypass.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 541, ../sass/flypass.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 545, ../sass/flypass.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 549, ../sass/flypass.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 553, ../sass/flypass.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 557, ../sass/flypass.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 561, ../sass/flypass.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 565, ../sass/flypass.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 569, ../sass/flypass.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 573, ../sass/flypass.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 577, ../sass/flypass.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 581, ../sass/flypass.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 585, ../sass/flypass.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 589, ../sass/flypass.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 593, ../sass/flypass.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 597, ../sass/flypass.scss */
.icon-exclamation-sign {
  background-position: 0 -120px;
}

/* line 601, ../sass/flypass.scss */
.icon-gift {
  background-position: -24px -120px;
}

/* line 605, ../sass/flypass.scss */
.icon-leaf {
  background-position: -48px -120px;
}

/* line 609, ../sass/flypass.scss */
.icon-fire {
  background-position: -72px -120px;
}

/* line 613, ../sass/flypass.scss */
.icon-eye-open {
  background-position: -96px -120px;
}

/* line 617, ../sass/flypass.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 621, ../sass/flypass.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 625, ../sass/flypass.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 629, ../sass/flypass.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 633, ../sass/flypass.scss */
.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

/* line 638, ../sass/flypass.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 642, ../sass/flypass.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 646, ../sass/flypass.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 650, ../sass/flypass.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 654, ../sass/flypass.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 658, ../sass/flypass.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 662, ../sass/flypass.scss */
.icon-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

/* line 667, ../sass/flypass.scss */
.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

/* line 672, ../sass/flypass.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 676, ../sass/flypass.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 680, ../sass/flypass.scss */
.icon-hdd {
  background-position: 0 -144px;
}

/* line 684, ../sass/flypass.scss */
.icon-bullhorn {
  background-position: -24px -144px;
}

/* line 688, ../sass/flypass.scss */
.icon-bell {
  background-position: -48px -144px;
}

/* line 692, ../sass/flypass.scss */
.icon-certificate {
  background-position: -72px -144px;
}

/* line 696, ../sass/flypass.scss */
.icon-thumbs-up {
  background-position: -96px -144px;
}

/* line 700, ../sass/flypass.scss */
.icon-thumbs-down {
  background-position: -120px -144px;
}

/* line 704, ../sass/flypass.scss */
.icon-hand-right {
  background-position: -144px -144px;
}

/* line 708, ../sass/flypass.scss */
.icon-hand-left {
  background-position: -168px -144px;
}

/* line 712, ../sass/flypass.scss */
.icon-hand-up {
  background-position: -192px -144px;
}

/* line 716, ../sass/flypass.scss */
.icon-hand-down {
  background-position: -216px -144px;
}

/* line 720, ../sass/flypass.scss */
.icon-circle-arrow-right {
  background-position: -240px -144px;
}

/* line 724, ../sass/flypass.scss */
.icon-circle-arrow-left {
  background-position: -264px -144px;
}

/* line 728, ../sass/flypass.scss */
.icon-circle-arrow-up {
  background-position: -288px -144px;
}

/* line 732, ../sass/flypass.scss */
.icon-circle-arrow-down {
  background-position: -312px -144px;
}

/* line 736, ../sass/flypass.scss */
.icon-globe {
  background-position: -336px -144px;
}

/* line 740, ../sass/flypass.scss */
.icon-wrench {
  background-position: -360px -144px;
}

/* line 744, ../sass/flypass.scss */
.icon-tasks {
  background-position: -384px -144px;
}

/* line 748, ../sass/flypass.scss */
.icon-filter {
  background-position: -408px -144px;
}

/* line 752, ../sass/flypass.scss */
.icon-briefcase {
  background-position: -432px -144px;
}

/* line 756, ../sass/flypass.scss */
.icon-fullscreen {
  background-position: -456px -144px;
}
