@import url("http://fonts.googleapis.com/css?family=Lato:300,700");
/* line 4, ../sass/ampush.scss */
.top-bar-section .dropdown li a {
  font-weight: bold !important;
}

/* line 8, ../sass/ampush.scss */
#mainbody {
  background-color: white;
}

/* line 13, ../sass/ampush.scss */
.name {
  padding: .5em;
}

/* line 17, ../sass/ampush.scss */
.app-body {
  padding: .5em 1em;
  background: url("/img/bg_home.png") repeat-x;
  width: 1040px;
  margin: 0 auto;
}

/* line 24, ../sass/ampush.scss */
.widget {
  border: 1px solid #cccccc;
}

/* line 28, ../sass/ampush.scss */
.widget a {
  font-weight: bold;
}

/* line 32, ../sass/ampush.scss */
.rtborder {
  border-right: 1px solid #cccccc;
}

/* line 36, ../sass/ampush.scss */
.last-update {
  padding: 0;
  padding-top: .5em;
  margin: 0;
}

/* line 42, ../sass/ampush.scss */
.report-header {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1em;
}

/* line 47, ../sass/ampush.scss */
.tray {
  background-color: white;
  padding: .5em 0px;
  margin: 0px;
  color: white;
}

/* line 54, ../sass/ampush.scss */
.tray h3 {
  color: white;
  text-shadow: #333333 1px 1px 1px;
}

/* line 59, ../sass/ampush.scss */
.datepicker {
  padding-top: .5em;
}

/* line 63, ../sass/ampush.scss */
.reach {
  list-style-type: none;
}

/* line 67, ../sass/ampush.scss */
.card-picker {
  border-bottom: 1px solid #cccccc;
}

/* line 71, ../sass/ampush.scss */
.card-detail {
  padding: 1em;
  font-size: 110%;
}

/* line 76, ../sass/ampush.scss */
.card-detail strong {
  font-size: 1.2em;
}

/* line 80, ../sass/ampush.scss */
.amp-header b {
  color: #2ba6cb;
  font-size: 160%;
}

/* line 85, ../sass/ampush.scss */
.amp-header {
  padding-top: 34px;
  padding-bottom: 4px;
}

/* line 90, ../sass/ampush.scss */
.amp-label {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding-left: 1em;
}

/* line 97, ../sass/ampush.scss */
.amp-label:after {
  content: ": ";
}

/* line 101, ../sass/ampush.scss */
.switch-label {
  display: inline-block;
  padding-left: 1em;
}

/* line 106, ../sass/ampush.scss */
.lens-shim {
  line-height: 3em;
}

/* line 110, ../sass/ampush.scss */
.section .content {
  height: 280px;
}

/* line 114, ../sass/ampush.scss */
dl {
  margin-top: 1em;
}

/* line 118, ../sass/ampush.scss */
dt {
  float: left;
  font-weight: bold;
  line-height: 2em;
  color: #6f6f6f;
}

/* line 125, ../sass/ampush.scss */
dd {
  margin-left: 40px;
  text-align: right;
  line-height: 2em;
  margin-bottom: 0px !important;
  font-weight: bold;
}

/* line 133, ../sass/ampush.scss */
dd.positive {
  color: green;
}

/* line 137, ../sass/ampush.scss */
dd.negative {
  color: red;
}

/* line 141, ../sass/ampush.scss */
dd.positive:before {
  content: "(+";
}

/* line 144, ../sass/ampush.scss */
dd.negative:before {
  content: "(-";
}

/* line 148, ../sass/ampush.scss */
dd.positive:after {
  content: "↑)";
}

/* line 152, ../sass/ampush.scss */
dd.negative:after {
  content: "↓)";
}

/* line 157, ../sass/ampush.scss */
footer {
  color: #ced4d8;
  padding: 1em;
  font-size: 90%;
}

/* line 165, ../sass/ampush.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons_halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* line 178, ../sass/ampush.scss */
.icon-glass {
  background-position: 0 0;
}

/* line 182, ../sass/ampush.scss */
.icon-music {
  background-position: -24px 0;
}

/* line 186, ../sass/ampush.scss */
.icon-search {
  background-position: -48px 0;
}

/* line 190, ../sass/ampush.scss */
.icon-envelope {
  background-position: -72px 0;
}

/* line 194, ../sass/ampush.scss */
.icon-heart {
  background-position: -96px 0;
}

/* line 198, ../sass/ampush.scss */
.icon-star {
  background-position: -120px 0;
}

/* line 202, ../sass/ampush.scss */
.icon-star-empty {
  background-position: -144px 0;
}

/* line 206, ../sass/ampush.scss */
.icon-user {
  background-position: -168px 0;
}

/* line 210, ../sass/ampush.scss */
.icon-film {
  background-position: -192px 0;
}

/* line 214, ../sass/ampush.scss */
.icon-th-large {
  background-position: -216px 0;
}

/* line 218, ../sass/ampush.scss */
.icon-th {
  background-position: -240px 0;
}

/* line 222, ../sass/ampush.scss */
.icon-th-list {
  background-position: -264px 0;
}

/* line 226, ../sass/ampush.scss */
.icon-ok {
  background-position: -288px 0;
}

/* line 230, ../sass/ampush.scss */
.icon-remove {
  background-position: -312px 0;
}

/* line 234, ../sass/ampush.scss */
.icon-zoom-in {
  background-position: -336px 0;
}

/* line 238, ../sass/ampush.scss */
.icon-zoom-out {
  background-position: -360px 0;
}

/* line 242, ../sass/ampush.scss */
.icon-off {
  background-position: -384px 0;
}

/* line 246, ../sass/ampush.scss */
.icon-signal {
  background-position: -408px 0;
}

/* line 250, ../sass/ampush.scss */
.icon-cog {
  background-position: -432px 0;
}

/* line 254, ../sass/ampush.scss */
.icon-trash {
  background-position: -456px 0;
}

/* line 258, ../sass/ampush.scss */
.icon-home {
  background-position: 0 -24px;
}

/* line 262, ../sass/ampush.scss */
.icon-file {
  background-position: -24px -24px;
}

/* line 266, ../sass/ampush.scss */
.icon-time {
  background-position: -48px -24px;
}

/* line 270, ../sass/ampush.scss */
.icon-road {
  background-position: -72px -24px;
}

/* line 274, ../sass/ampush.scss */
.icon-download-alt {
  background-position: -96px -24px;
}

/* line 278, ../sass/ampush.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 282, ../sass/ampush.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 286, ../sass/ampush.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 290, ../sass/ampush.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 294, ../sass/ampush.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 298, ../sass/ampush.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 302, ../sass/ampush.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 306, ../sass/ampush.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 310, ../sass/ampush.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 314, ../sass/ampush.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 318, ../sass/ampush.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 322, ../sass/ampush.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 326, ../sass/ampush.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 330, ../sass/ampush.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 334, ../sass/ampush.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 338, ../sass/ampush.scss */
.icon-tag {
  background-position: 0 -48px;
}

/* line 342, ../sass/ampush.scss */
.icon-tags {
  background-position: -25px -48px;
}

/* line 346, ../sass/ampush.scss */
.icon-book {
  background-position: -48px -48px;
}

/* line 350, ../sass/ampush.scss */
.icon-bookmark {
  background-position: -72px -48px;
}

/* line 354, ../sass/ampush.scss */
.icon-print {
  background-position: -96px -48px;
}

/* line 358, ../sass/ampush.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 362, ../sass/ampush.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 366, ../sass/ampush.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 370, ../sass/ampush.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 374, ../sass/ampush.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 378, ../sass/ampush.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 382, ../sass/ampush.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 386, ../sass/ampush.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 390, ../sass/ampush.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 394, ../sass/ampush.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 398, ../sass/ampush.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 402, ../sass/ampush.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 406, ../sass/ampush.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 410, ../sass/ampush.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 414, ../sass/ampush.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 418, ../sass/ampush.scss */
.icon-pencil {
  background-position: 0 -72px;
}

/* line 422, ../sass/ampush.scss */
.icon-map-marker {
  background-position: -24px -72px;
}

/* line 426, ../sass/ampush.scss */
.icon-adjust {
  background-position: -48px -72px;
}

/* line 430, ../sass/ampush.scss */
.icon-tint {
  background-position: -72px -72px;
}

/* line 434, ../sass/ampush.scss */
.icon-edit {
  background-position: -96px -72px;
}

/* line 438, ../sass/ampush.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 442, ../sass/ampush.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 446, ../sass/ampush.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 450, ../sass/ampush.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 454, ../sass/ampush.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 458, ../sass/ampush.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 462, ../sass/ampush.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 466, ../sass/ampush.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 470, ../sass/ampush.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 474, ../sass/ampush.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 478, ../sass/ampush.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 482, ../sass/ampush.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 486, ../sass/ampush.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 490, ../sass/ampush.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 494, ../sass/ampush.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 498, ../sass/ampush.scss */
.icon-plus-sign {
  background-position: 0 -96px;
}

/* line 502, ../sass/ampush.scss */
.icon-minus-sign {
  background-position: -24px -96px;
}

/* line 506, ../sass/ampush.scss */
.icon-remove-sign {
  background-position: -48px -96px;
}

/* line 510, ../sass/ampush.scss */
.icon-ok-sign {
  background-position: -72px -96px;
}

/* line 514, ../sass/ampush.scss */
.icon-question-sign {
  background-position: -96px -96px;
}

/* line 518, ../sass/ampush.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 522, ../sass/ampush.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 526, ../sass/ampush.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 530, ../sass/ampush.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 534, ../sass/ampush.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 538, ../sass/ampush.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 542, ../sass/ampush.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 546, ../sass/ampush.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 550, ../sass/ampush.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 554, ../sass/ampush.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 558, ../sass/ampush.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 562, ../sass/ampush.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 566, ../sass/ampush.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 570, ../sass/ampush.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 574, ../sass/ampush.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 578, ../sass/ampush.scss */
.icon-exclamation-sign {
  background-position: 0 -120px;
}

/* line 582, ../sass/ampush.scss */
.icon-gift {
  background-position: -24px -120px;
}

/* line 586, ../sass/ampush.scss */
.icon-leaf {
  background-position: -48px -120px;
}

/* line 590, ../sass/ampush.scss */
.icon-fire {
  background-position: -72px -120px;
}

/* line 594, ../sass/ampush.scss */
.icon-eye-open {
  background-position: -96px -120px;
}

/* line 598, ../sass/ampush.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 602, ../sass/ampush.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 606, ../sass/ampush.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 610, ../sass/ampush.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 614, ../sass/ampush.scss */
.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

/* line 619, ../sass/ampush.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 623, ../sass/ampush.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 627, ../sass/ampush.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 631, ../sass/ampush.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 635, ../sass/ampush.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 639, ../sass/ampush.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 643, ../sass/ampush.scss */
.icon-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

/* line 648, ../sass/ampush.scss */
.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

/* line 653, ../sass/ampush.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 657, ../sass/ampush.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 661, ../sass/ampush.scss */
.icon-hdd {
  background-position: 0 -144px;
}

/* line 665, ../sass/ampush.scss */
.icon-bullhorn {
  background-position: -24px -144px;
}

/* line 669, ../sass/ampush.scss */
.icon-bell {
  background-position: -48px -144px;
}

/* line 673, ../sass/ampush.scss */
.icon-certificate {
  background-position: -72px -144px;
}

/* line 677, ../sass/ampush.scss */
.icon-thumbs-up {
  background-position: -96px -144px;
}

/* line 681, ../sass/ampush.scss */
.icon-thumbs-down {
  background-position: -120px -144px;
}

/* line 685, ../sass/ampush.scss */
.icon-hand-right {
  background-position: -144px -144px;
}

/* line 689, ../sass/ampush.scss */
.icon-hand-left {
  background-position: -168px -144px;
}

/* line 693, ../sass/ampush.scss */
.icon-hand-up {
  background-position: -192px -144px;
}

/* line 697, ../sass/ampush.scss */
.icon-hand-down {
  background-position: -216px -144px;
}

/* line 701, ../sass/ampush.scss */
.icon-circle-arrow-right {
  background-position: -240px -144px;
}

/* line 705, ../sass/ampush.scss */
.icon-circle-arrow-left {
  background-position: -264px -144px;
}

/* line 709, ../sass/ampush.scss */
.icon-circle-arrow-up {
  background-position: -288px -144px;
}

/* line 713, ../sass/ampush.scss */
.icon-circle-arrow-down {
  background-position: -312px -144px;
}

/* line 717, ../sass/ampush.scss */
.icon-globe {
  background-position: -336px -144px;
}

/* line 721, ../sass/ampush.scss */
.icon-wrench {
  background-position: -360px -144px;
}

/* line 725, ../sass/ampush.scss */
.icon-tasks {
  background-position: -384px -144px;
}

/* line 729, ../sass/ampush.scss */
.icon-filter {
  background-position: -408px -144px;
}

/* line 733, ../sass/ampush.scss */
.icon-briefcase {
  background-position: -432px -144px;
}

/* line 737, ../sass/ampush.scss */
.icon-fullscreen {
  background-position: -456px -144px;
}
