/* line 43, ../sass/fp.scss */
h1, h2, h3, h4, h5, .font_montserrat {
  font-family: 'Montserrat Alternates', serif;
  font-weight: normal;
}

/* line 48, ../sass/fp.scss */
.main-nav {
  padding: 15px 0 30px;
}
/* line 51, ../sass/fp.scss */
.main-nav ul {
  height: 75px;
  line-height: 83px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../sass/fp.scss */
.main-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
/* line 48, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li:first-child, .main-nav ul li.first {
  padding-left: 0;
}
/* line 49, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li.last {
  padding-right: 0;
}
/* line 59, ../sass/fp.scss */
.main-nav ul li a {
  display: block;
  color: #181818;
}
/* line 63, ../sass/fp.scss */
.main-nav ul li a:hover {
  color: #ed1c24;
}

/* line 71, ../sass/fp.scss */
.hero-unit {
  border-top: 1px solid #dcdcdc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(99%, #ececec), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -moz-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -o-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  min-height: 570px;
}
/* line 77, ../sass/fp.scss */
.hero-unit#home-hero-unit h4 {
  font-size: 2.7em;
  margin-top: 30px;
}
/* line 81, ../sass/fp.scss */
.hero-unit#home-hero-unit h5 {
  font-size: 2em;
}
/* line 85, ../sass/fp.scss */
.hero-unit#home-hero-unit ul {
  font-size: 1.5em;
  line-height: 1.3;
}

/* line 93, ../sass/fp.scss */
.clients ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0;
}
/* line 97, ../sass/fp.scss */
.clients ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li:first-child, .clients ul li.first {
  padding-left: 0;
}
/* line 49, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li:last-child {
  padding-right: 0;
}
/* line 50, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li.last {
  padding-right: 0;
}
/* line 100, ../sass/fp.scss */
.clients ul li a {
  display: block;
  height: 47px;
  line-height: 55px;
}

/* line 110, ../sass/fp.scss */
#main-footer .row {
  border-top: 1px solid #999999;
  padding-top: 10px;
}
/* line 115, ../sass/fp.scss */
#main-footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 117, ../sass/fp.scss */
#main-footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li:first-child, #main-footer ul li.first {
  padding-left: 0;
}
/* line 49, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li:last-child {
  padding-right: 0;
}
/* line 50, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li.last {
  padding-right: 0;
}
/* line 121, ../sass/fp.scss */
#main-footer ul.social {
  line-height: 1.7;
}
/* line 123, ../sass/fp.scss */
#main-footer ul.social a {
  padding: 0 5px;
}
/* line 126, ../sass/fp.scss */
#main-footer ul.social span {
  font-size: 12px;
}

/* line 133, ../sass/fp.scss */
.call-to-action {
  padding: 15px 0;
}

/* line 137, ../sass/fp.scss */
.clients h6 {
  margin-bottom: 10px;
}

/* line 141, ../sass/fp.scss */
.phone-container {
  position: relative;
}

/* line 144, ../sass/fp.scss */
#phone {
  position: absolute;
  padding: 180px 41px 170px;
  z-index: 100;
  right: 0;
  top: -30px;
  width: 442px;
  height: 810px;
  background: transparent url("../img/iphone.png") no-repeat 0 0;
}
/* line 153, ../sass/fp.scss */
#phone .phone-inner {
  width: 100%;
  height: 100%;
  background: transparent url("../img/bg.jpg") no-repeat 0 0;
}
/* line 159, ../sass/fp.scss */
#phone .initial-message {
  font-family: 'Montserrat Alternates', serif;
  padding-top: 54%;
  line-height: 1.5;
  color: white;
  font-size: 16px;
}

/* line 169, ../sass/fp.scss */
#mainbody ul {
  list-style-position: inside;
}

/* line 174, ../sass/fp.scss */
#main-container {
  min-height: 800px;
}

/* line 178, ../sass/fp.scss */
#pass-creation {
  width: 510px;
  color: #000;
  font-family: 'Montserrat Alternates', serif;
}
/* line 184, ../sass/fp.scss */
#pass-creation form label {
  margin-bottom: 10px;
}
/* line 189, ../sass/fp.scss */
#pass-creation ul#tab-nav {
  height: 82px;
  line-height: 82px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 22px;
}
/* line 195, ../sass/fp.scss */
#pass-creation ul#tab-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  border: none;
}
/* line 48, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pass-creation ul#tab-nav li:first-child, #pass-creation ul#tab-nav li.first {
  padding-left: 0;
}
/* line 49, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pass-creation ul#tab-nav li:last-child {
  padding-right: 0;
}
/* line 50, c:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pass-creation ul#tab-nav li.last {
  padding-right: 0;
}
/* line 199, ../sass/fp.scss */
#pass-creation ul#tab-nav li:first-child a {
  margin: 0;
}
/* line 200, ../sass/fp.scss */
#pass-creation ul#tab-nav li:first-child a ::before {
  content: '';
}
/* line 207, ../sass/fp.scss */
#pass-creation ul#tab-nav li a {
  display: block;
  color: #000;
  font-size: 12px;
  padding: 0 7px;
  position: relative;
}
/* line 216, ../sass/fp.scss */
#pass-creation ul#tab-nav li a::before {
  content: ">";
  position: absolute;
  top: 2px;
  left: -10px;
  font-size: 11px;
  color: #000;
}
/* line 231, ../sass/fp.scss */
#pass-creation ul#tab-nav li.k-state-active a {
  color: #fff;
  background: #b2b2b2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: #cccccc 2px 2px 5px;
  -moz-box-shadow: #cccccc 2px 2px 5px;
  box-shadow: #cccccc 2px 2px 5px;
  padding: 0 19px;
  border: none;
  padding: 0 17px;
}
/* line 235, ../sass/fp.scss */
#pass-creation ul#tab-nav li.k-state-active a::after {
  content: '';
  background: white;
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 12px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* line 244, ../sass/fp.scss */
.pb-btn {
  color: #fff;
  background: #b2b2b2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: #cccccc 2px 2px 5px;
  -moz-box-shadow: #cccccc 2px 2px 5px;
  box-shadow: #cccccc 2px 2px 5px;
  padding: 0 19px;
  border: none;
  font-size: 26px;
  padding: 15px 41px 19px 33px;
  display: inline-block;
  position: relative;
  height: 74px;
  line-height: 1.65;
  background: #ed1c24;
}
/* line 245, ../sass/fp.scss */
.pb-btn::after {
  content: '';
  background: white;
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 12px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: #f4f4f4;
  height: 18px;
  width: 9px;
  -moz-border-radius-topright: 18px;
  -webkit-border-top-right-radius: 18px;
  border-top-right-radius: 18px;
  -moz-border-radius-bottomright: 18px;
  -webkit-border-bottom-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* line 252, ../sass/fp.scss */
.pb-btn::before {
  content: ">";
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 26px;
}
/* line 267, ../sass/fp.scss */
.pb-btn.small {
  padding: 11px 30px 14px 24px;
  font-size: 1em;
  height: 55px;
  line-height: 1.9;
}
/* line 273, ../sass/fp.scss */
.pb-btn.small::before {
  font-size: 1em;
  top: 12px;
}

/* line 279, ../sass/fp.scss */
#tabstrip {
  background: transparent;
  border: none;
}
/* line 282, ../sass/fp.scss */
#tabstrip.k-tabstrip .k-content {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

/* line 287, ../sass/fp.scss */
.manage_pass_container {
  padding: 10px;
}

/* line 290, ../sass/fp.scss */
.manage-pass {
  font-size: .75em;
  width: 100%;
  border: none;
}
/* line 296, ../sass/fp.scss */
.manage-pass td, .manage-pass th {
  padding: .75em 0;
  background: #ffffff;
  border-bottom: 1px solid #dedede;
}
/* line 301, ../sass/fp.scss */
.manage-pass td.pass_code, .manage-pass td.pass_img, .manage-pass th.pass_code, .manage-pass th.pass_img {
  padding: .75em;
}
/* line 306, ../sass/fp.scss */
.manage-pass input, .manage-pass textarea {
  height: auto;
  margin: 0;
  padding: .4em;
  font-size: .75em;
}
/* line 313, ../sass/fp.scss */
.manage-pass .instruction {
  margin-bottom: 5px;
}

/* line 318, ../sass/fp.scss */
.download_pass_btn {
  padding: 5px;
  font-size: 1em;
  border: 3px solid #fff;
}
/* line 323, ../sass/fp.scss */
.download_pass_btn.red {
  background: #ff6663;
}
/* line 326, ../sass/fp.scss */
.download_pass_btn.red.active {
  border-color: #ff0000;
}
/* line 331, ../sass/fp.scss */
.download_pass_btn.velvet {
  background: #8361ff;
}
/* line 334, ../sass/fp.scss */
.download_pass_btn.velvet.active {
  border-color: #3600fa;
}

/* line 340, ../sass/fp.scss */
.get_code {
  position: relative;
}
/* line 344, ../sass/fp.scss */
.get_code::before {
  width: 0;
  height: 0;
  position: absolute;
  left: -15px;
  top: 20%;
  content: '';
  border-left: 10px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* line 356, ../sass/fp.scss */
.get_code.active::before {
  border-top: 10px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* line 363, ../sass/fp.scss */
.download_count {
  padding-right: 20px;
}

/* line 367, ../sass/fp.scss */
.user-profile {
  font-size: .75em;
}
/* line 369, ../sass/fp.scss */
.user-profile form {
  width: 50%;
}
/* line 372, ../sass/fp.scss */
.user-profile input {
  height: auto;
  margin: 0 0 5px;
}
/* line 377, ../sass/fp.scss */
.user-profile .row {
  margin-bottom: 10px;
}
