@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000343}}
h1, h2, h3, h4, h5, .font_montserrat {
  font-family: 'Montserrat Alternates', serif;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000348}}
.main-nav {
  padding: 15px 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000351}}
.main-nav ul {
  height: 75px;
  line-height: 83px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000356}}
.main-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
.main-nav ul li:first-child, .main-nav ul li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
.main-nav ul li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
.main-nav ul li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000359}}
.main-nav ul li a {
  display: block;
  color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000363}}
.main-nav ul li a:hover {
  color: #ed1c24;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000371}}
.hero-unit {
  border-top: 1px solid #dcdcdc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(99%, #ececec), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -moz-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -o-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  min-height: 570px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000377}}
.hero-unit#home-hero-unit h4 {
  font-size: 2.7em;
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000381}}
.hero-unit#home-hero-unit h5 {
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000385}}
.hero-unit#home-hero-unit ul {
  font-size: 1.5em;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000393}}
.clients ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\0000397}}
.clients ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
.clients ul li:first-child, .clients ul li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
.clients ul li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
.clients ul li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003100}}
.clients ul li a {
  display: block;
  height: 47px;
  line-height: 55px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003110}}
#main-footer .row {
  border-top: 1px solid #999999;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003115}}
#main-footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003117}}
#main-footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
#main-footer ul li:first-child, #main-footer ul li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
#main-footer ul li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
#main-footer ul li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003121}}
#main-footer ul.social {
  line-height: 1.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003123}}
#main-footer ul.social a {
  padding: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003126}}
#main-footer ul.social span {
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003133}}
.call-to-action {
  padding: 15px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003137}}
.clients h6 {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003141}}
.phone-container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003144}}
#phone {
  position: absolute;
  padding: 180px 41px 170px;
  z-index: 100;
  right: 0;
  top: -30px;
  width: 442px;
  height: 810px;
  background: transparent url("../img/iphone.png") no-repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003153}}
#phone .phone-inner {
  width: 100%;
  height: 100%;
  background: transparent url("../img/bg.jpg") no-repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003159}}
#phone .initial-message {
  font-family: 'Montserrat Alternates', serif;
  padding-top: 54%;
  line-height: 1.5;
  color: white;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003169}}
#mainbody ul {
  list-style-position: inside;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003174}}
#main-container {
  min-height: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003178}}
#pass-creation {
  width: 510px;
  color: #000;
  font-family: 'Montserrat Alternates', serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003184}}
#pass-creation form label {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003189}}
#pass-creation ul#tab-nav {
  height: 82px;
  line-height: 82px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003195}}
#pass-creation ul#tab-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
#pass-creation ul#tab-nav li:first-child, #pass-creation ul#tab-nav li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
#pass-creation ul#tab-nav li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
#pass-creation ul#tab-nav li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003199}}
#pass-creation ul#tab-nav li:first-child a {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003200}}
#pass-creation ul#tab-nav li:first-child a ::before {
  content: '';
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003207}}
#pass-creation ul#tab-nav li a {
  display: block;
  color: #000;
  font-size: 12px;
  padding: 0 7px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003216}}
#pass-creation ul#tab-nav li a::before {
  content: ">";
  position: absolute;
  top: 2px;
  left: -10px;
  font-size: 11px;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003231}}
#pass-creation ul#tab-nav li.k-state-active a {
  color: #fff;
  background: #b2b2b2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: #cccccc 2px 2px 5px;
  -moz-box-shadow: #cccccc 2px 2px 5px;
  box-shadow: #cccccc 2px 2px 5px;
  padding: 0 19px;
  border: none;
  padding: 0 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003235}}
#pass-creation ul#tab-nav li.k-state-active a::after {
  content: '';
  background: white;
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 12px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003244}}
.pb-btn {
  color: #fff;
  background: #b2b2b2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: #cccccc 2px 2px 5px;
  -moz-box-shadow: #cccccc 2px 2px 5px;
  box-shadow: #cccccc 2px 2px 5px;
  padding: 0 19px;
  border: none;
  font-size: 26px;
  padding: 15px 41px 19px 33px;
  display: inline-block;
  position: relative;
  height: 74px;
  line-height: 1.65;
  background: #ed1c24;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003245}}
.pb-btn::after {
  content: '';
  background: white;
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 12px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: #f4f4f4;
  height: 18px;
  width: 9px;
  -moz-border-radius-topright: 18px;
  -webkit-border-top-right-radius: 18px;
  border-top-right-radius: 18px;
  -moz-border-radius-bottomright: 18px;
  -webkit-border-bottom-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003252}}
.pb-btn::before {
  content: ">";
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003267}}
.pb-btn.small {
  padding: 11px 30px 14px 24px;
  font-size: 1em;
  height: 55px;
  line-height: 1.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003273}}
.pb-btn.small::before {
  font-size: 1em;
  top: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003279}}
#tabstrip {
  background: transparent;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/fp\.scss}line{font-family:\00003282}}
#tabstrip.k-tabstrip .k-content {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}
