/* line 7, ../sass/fp.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Alternates", serif;
}

/* line 11, ../sass/fp.scss */
.main-nav {
  padding: 15px 0 30px;
}
/* line 14, ../sass/fp.scss */
.main-nav ul {
  height: 75px;
  line-height: 83px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 19, ../sass/fp.scss */
.main-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
/* line 48, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li:first-child, .main-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.main-nav ul li.last {
  padding-right: 0;
}
/* line 22, ../sass/fp.scss */
.main-nav ul li a {
  display: block;
  color: #181818;
}
/* line 26, ../sass/fp.scss */
.main-nav ul li a:hover {
  color: #ed1c24;
}

/* line 34, ../sass/fp.scss */
.hero-unit {
  border-top: 1px solid gainsboro;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(99%, #ececec), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -moz-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: -o-linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  background-image: linear-gradient(#ffffff, #ececec 99%, #dcdcdc);
  min-height: 570px;
}

/* line 41, ../sass/fp.scss */
.clients ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0;
}
/* line 45, ../sass/fp.scss */
.clients ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li:first-child, .clients ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.clients ul li.last {
  padding-right: 0;
}
/* line 48, ../sass/fp.scss */
.clients ul li a {
  display: block;
  height: 47px;
  line-height: 55px;
}

/* line 58, ../sass/fp.scss */
#main-footer .row {
  border-top: 1px solid #999999;
  padding-top: 10px;
}
/* line 63, ../sass/fp.scss */
#main-footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../sass/fp.scss */
#main-footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li:first-child, #main-footer ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-footer ul li.last {
  padding-right: 0;
}
/* line 69, ../sass/fp.scss */
#main-footer ul.social {
  line-height: 1.7;
}
/* line 71, ../sass/fp.scss */
#main-footer ul.social a {
  padding: 0 5px;
}
/* line 74, ../sass/fp.scss */
#main-footer ul.social span {
  font-size: 12px;
}

/* line 81, ../sass/fp.scss */
.call-to-action {
  padding: 15px 0;
}

/* line 85, ../sass/fp.scss */
.clients h6 {
  margin-bottom: 10px;
}

/* line 89, ../sass/fp.scss */
.phone-container {
  position: relative;
}

/* line 92, ../sass/fp.scss */
#phone {
  position: absolute;
  z-index: 100;
  right: 0;
  top: -30px;
}

/* line 100, ../sass/fp.scss */
#mainbody ul {
  list-style-position: inside;
}
