@import url("http://cdn.kendostatic.com/2013.1.226/styles/kendo.common.min.css");
@import url("http://cdn.kendostatic.com/2013.1.226/styles/kendo.default.min.css");
@import url("http://cdn.kendostatic.com/2013.1.226/styles/kendo.silver.min.css");
@import url("http://cdn.kendostatic.com/2013.1.226/styles/kendo.dataviz.min.css");
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\000036}}
.ampush-kendo *, .ampush-kendo *:before, .ampush-kendo *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\0000312}}
.ampush-kendo th a {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\0000316}}
.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
  padding: 0px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\0000320}}
.k-animation-container .k-link {
  font-size: 75% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\0000324}}
.k-grid td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/wamp\/www\/djsreader\/app3\/sass\/kendo\.scss}line{font-family:\0000329}}
.no-show a .k-icon {
  display: none;
}
