
body {
   width:1224px;
    margin: auto;
}

#pass_config {
    width:700px;
    float: left;
}

#simulator {
    width:460px;
    height:500px;
    float: left;
}

#simulator > .simulator {
    background: url("/img/iphone.png") no-repeat;
    width:460px;
    height: 780px;
}
#logo {
    width:180px;
    height: 85px;
}

#menu {
    float: left;
    width: 300px;
    border:0px;
}

#container {
    clear:both;
}