
body {
  width:1024px;
    margin: auto;
}

#pass_config {
    width:500px;
    float: left;
}

#simulator {
    width:500px;
    height:500px;
    float: left;
}

#simulator > .simulator {
    background: url("/img/iphone.png") no-repeat;
    width:460px;
    height: 780px;
}