@import "settings";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3";

//@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

@mixin font_montserrat() {
  font-family: 'Montserrat Alternates', serif;
}

@mixin reset_style() {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

@mixin no_bg_and_border() {
  background: transparent;
  border: none;
}

@mixin rounded_btn() {
  color: #fff;
  background: #b2b2b2;
  @include border-radius(20px);
  @include box-shadow(#ccc 2px 2px 5px);
  padding: 0 19px;
  border: none;
}

@mixin rounded_btn_after() {
  content: '';
  background: white;
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 12px;
  @include border-right-radius(24px);
}

h1,h2,h3,h4,h5,.font_montserrat {
  @include font_montserrat;
  font-weight: normal;
}

.main-nav {
  padding: 15px 0 30px;

  ul {
    height: 75px;
    line-height: 83px;
    @include horizontal-list-container();

    li {
      @include horizontal-list-item(13px);

      a {
        display: block;
        color: #181818;

        &:hover {
          color: #ed1c24;
        }
      }
    }
  }
}

.hero-unit {
  border-top: 1px solid #dcdcdc;
  @include background-image(linear-gradient(white, #ececec 99%, #dcdcdc));
  min-height: 570px;

  &#home-hero-unit {
    h4 {
      font-size: 2.7em;
      margin-top: 30px;
    }
    h5 {
      font-size: 2em;
    }

    ul {
      font-size: 1.5em;
      line-height: 1.3;
    }
  }
}

.clients {
  ul {
    @include horizontal-list-container();
    margin: 10px 0;

    li {
      @include horizontal-list-item(12px);

      a {
        display: block;
        height: 47px;
        line-height: 55px;
      }
    }
  }
}

#main-footer {
  .row {
    border-top: 1px solid #999999;
    padding-top: 10px;
  }

  ul {
    @include horizontal-list-container();
    li {
      @include horizontal-list-item();
    }

    &.social {
      line-height: 1.7;
      a {
        padding:0 5px ;
      }
      span {
        font-size: 12px;
      }
    }
  }
}

.call-to-action {
  padding: 15px 0;
}

.clients h6 {
  margin-bottom: 10px;
}

.phone-container {
  position: relative;
}
#phone {
  position: absolute;
  padding: 180px 41px 170px;
  z-index: 100;
  right: 0;
  top: -30px;
  width: 442px;
  height: 810px;
  background: transparent url("../img/iphone.png") no-repeat 0 0;
  .phone-inner {
    width: 100%;
    height: 100%;
    background: transparent url("../img/bg.jpg") no-repeat 0 0;
  }

  .initial-message {
    @include font_montserrat();
    padding-top: 54%;
    line-height: 1.5;
    color: white;
    font-size: 16px;
  }
}

#mainbody {
  ul {
    list-style-position: inside;
  }
}

#main-container {
  min-height: 800px;
}

#pass-creation {
  width: 510px;
  color: #000;
  @include font_montserrat();

  form {
    label {
      margin-bottom: 10px;
    }
  }

  ul#tab-nav {
    height: 82px;
    line-height: 82px;
    @include horizontal-list-container();
    margin-top: 22px;

    li {
      @include horizontal-list-item(10px);
      @include no_bg_and_border();

      &:first-child a {
        ::before {
          content: '';
        }
        margin: 0;
      }


      a {
        display: block;
        color: #000;
        font-size: 12px ;
        padding: 0 7px;
        position: relative;



        &::before {
          content: ">";
          position: absolute;
          top: 2px;
          left: -10px;
          font-size: 11px;
          color: #000;
        }

        &:hover {
        }
      }

      &.k-state-active{

        a {

          @include rounded_btn();
          padding: 0 17px;
          &::after {
            @include rounded_btn_after();

          }
        }
      }
    }
  }
}
.pb-btn {
  &::after {
    @include rounded_btn_after();
    background: #f4f4f4;
    height: 18px;
    width: 9px;
    @include border-right-radius(18px);
  }
  &::before {
    content: ">";
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 26px;
  }
  @include rounded_btn();
  font-size: 26px;
  padding: 15px 41px 19px 33px;
  display: inline-block;
  position: relative;
  height: 74px;
  line-height: 1.65;
  background: #ed1c24;
  &.small {
    padding: 11px 30px 14px 24px;
    font-size: 1em;
    height: 55px;
    line-height: 1.9;

    &::before {
      font-size: 1em;
      top: 12px;
    }
  }
}
#tabstrip {
  @include no_bg_and_border();

  &.k-tabstrip .k-content {
    @include reset_style();
  }
}

.manage_pass_container {
  padding: 10px;
}
.manage-pass {

  font-size: .75em;
  width: 100%;
  border: none;

  td,th {
    padding: .75em 0;
    background: #ffffff;
    border-bottom: 1px solid #dedede;

    &.pass_code, &.pass_img {
      padding: .75em;
    }
  }

  input, textarea {
    height: auto;
    margin: 0;
    padding: .4em;
    font-size: .75em;
  }

  .instruction {
    margin-bottom: 5px;
  }
}

.download_pass_btn {
  padding: 5px;
  font-size: 1em;
  border: 3px solid #fff;

  &.red {
    background: #ff6663;

    &.active {
      border-color: #ff0000;
    }
  }

  &.velvet {
    background: #8361ff;

    &.active {
      border-color: darken(#8361ff, 20%);
    }
  }
}

.get_code {

  position: relative;

  &::before {
    width: 0;
    height: 0;
    position: absolute;
    left: -15px;
    top: 20%;
    content: '';
    border-left: 10px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  &.active::before {
    border-top: 10px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

.download_count {
  padding-right: 20px;
}

.user-profile {
  font-size: .75em;
  form {
    width: 50%;
  }
  input {
    height: auto;
    margin: 0 0 5px;
  }

  .row {
    margin-bottom: 10px;
  }
}
